<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<properties resource="jdbc.properties"></properties>
	<settings>
		<setting name="cacheEnabled" value="true"/>
	</settings>
	<typeAliases>
		<package name="com.baizhi.entity"/>
	</typeAliases>
	<environments default="oracle">
		<environment id="oracle">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.username}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/baizhi/dao/BookMapper.xml"/>
		<mapper resource="com/baizhi/dao/CategoryMapper.xml"/>
		<mapper resource="com/baizhi/dao/UserMapper.xml"/>
		<mapper resource="com/baizhi/dao/Category1Mapper.xml"/>
		<mapper resource="com/baizhi/dao/SearchForBookMapper.xml"/>
		<mapper resource="com/baizhi/dao/SearchCategoryMapper.xml"/>
		<mapper resource="com/baizhi/dao/AddressMapper.xml"/>
		<mapper resource="com/baizhi/dao/OrderMapper.xml"/>
		<mapper resource="com/baizhi/dao/OrderItemMapper.xml"/>
		<mapper resource="com/baizhi/dao/CommentMapper.xml"/>
	</mappers>
</configuration>
